{% extends 'layout.html' %}

{% block body %}
    <h1>Announcements</h1>
    <hr>
    <table class="table table-striped table-hover">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
        </tr>
            {% for announcement in announcements %}
            <tr>
                <td><a href="announcement/{{announcement.id}}/">{{announcement.title}}</a></td>
                <td>{{announcement.author}}</td>
                <td>{{announcement.create_date}}</td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}