{% extends 'layout.html' %}

{% block body %}
<link rel="stylesheet" href="/static/style.css">
<a href="/month/{{prev}}/" class="previous">&laquo; Previous</a>
<a href="/month/{{next}}" class="next pull-right">Next &raquo;</a>
<div class="title">{{month}} {{year}}</div>
<table border="1">
<tr><th>Sun</th><th>Mon</th><th>Tue</th><th>Wed</th><th>Thu</th><th>Fri</th><th>Sat</th></tr>
<tr>
    <td><span class="date">{{calendar[0][0]}}</span></td>
    <td><span class="date">{{calendar[0][1]}}</span></td>
    <td><span class="date">{{calendar[0][2]}}</span></td>
    <td><span class="date">{{calendar[0][3]}}</span></td>
    <td><span class="date">{{calendar[0][4]}}</span></td>
    <td><span class="date">{{calendar[0][5]}}</span></td>
    <td><span class="date">{{calendar[0][6]}}</span></td>
</tr>
<tr>
    <td><span class="date">{{calendar[1][0]}}</span></td>
    <td><span class="date">{{calendar[1][1]}}</span></td>
    <td><span class="date">{{calendar[1][2]}}</span></td>
    <td><span class="date">{{calendar[1][3]}}</span></td>
    <td><span class="date">{{calendar[1][4]}}</span><p>Object</p></td>
    <td><span class="date">{{calendar[1][5]}}</span></td>
    <td><span class="date">{{calendar[1][6]}}</span></td>
</tr>
<tr>
    <td><span class="date">{{calendar[2][0]}}</span></td>
    <td><span class="date">{{calendar[2][1]}}</span></td>
    <td><span class="date">{{calendar[2][2]}}</span></td>
    <td><span class="date">{{calendar[2][3]}}</span></td>
    <td><span class="date">{{calendar[2][4]}}</span></td>
    <td><span class="date">{{calendar[2][5]}}</span></td>
    <td><span class="date">{{calendar[2][6]}}</span></td>
</tr>
<tr>
    <td><span class="date">{{calendar[3][0]}}</span></td>
    <td><span class="date">{{calendar[3][1]}}</span></td>
    <td><span class="date">{{calendar[3][2]}}</span></td>
    <td><span class="date">{{calendar[3][3]}}</span></td>
    <td><span class="date">{{calendar[3][4]}}</span></td>
    <td><span class="date">{{calendar[3][5]}}</span></td>
    <td><span class="date">{{calendar[3][6]}}</span></td>
</tr>
<tr>
    <td><span class="date">{{calendar[4][0]}}</span></td>
    <td><span class="date">{{calendar[4][1]}}</span></td>
    <td><span class="date">{{calendar[4][2]}}</span></td>
    <td><span class="date">{{calendar[4][3]}}</span></td>
    <td><span class="date">{{calendar[4][4]}}</span></td>
    <td><span class="date">{{calendar[4][5]}}</span></td>
    <td><span class="date">{{calendar[4][6]}}</span></td>
</tr>
{% if calendar[5] != Null %}
<tr>
    <td><span class="date">{{calendar[5][0]}}</span></td>
    <td><span class="date">{{calendar[5][1]}}</span></td>
    <td><span class="date">{{calendar[5][2]}}</span></td>
    <td><span class="date">{{calendar[5][3]}}</span></td>
    <td><span class="date">{{calendar[5][4]}}</span></td>
    <td><span class="date">{{calendar[5][5]}}</span></td>
    <td><span class="date">{{calendar[5][6]}}</span></td>
</tr>
{% endif %}
</table>

{% endblock %}