{% extends 'layout.html' %}

{% block body %}
    
    <table class="table table-hover">
        <h1>Your Tutoring Sessions</h1>
        <a class="btn btn-success" href="/add_session">Request a Tutoring Session</a>
            <hr>
            <thead class="thead-light">
            <tr>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Tutor</th>
                <th scope="col">Subject</th>
                <th scope="col">Comments</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>    
            {% for tutoringSession in sessions %}
            <tr>
                <td>{{tutoringSession.date}}</td>
                <td>{{tutoringSession.time}}</td>
                <td>{{tutoringSession.tutor_name()}}</td>
                <td>{{tutoringSession.subject}}</td>
                <td>{{tutoringSession.comments}}</td>
                <td><a href="edit_session/{{tutoringSession.id}}" class="btn btn-warning float-right">Edit</a></td>
                <td><a href="delete_session/{{tutoringSession.id}}" class="btn btn-danger float-right">Delete</a></td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}