{% extends 'layout.html' %}

{% block body %}
    <h1>Your Tutoring Sessions</h1>
    <table class="table table-striped">
        
        {% if current_user.is_tutor() %}
        <tr>
            <th>Date</th>
            <th>Student</th>
            <th>Subject</th>
            <th>Comments</th>
            <th></th>
            <th></th>
        </tr>
        {% else %}
            {% for tutoringSession in sessions %}
            <a class="btn btn-success" href="/add_session">Request a Tutoring Session</a>
            <hr>
            <tr>
                <th>Date</th>
                <th>Tutor</th>
                <th>Subject</th>
                <th>Comments</th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <td>{{tutoringSession.date}}</td>
                <td>{{tutoringSession.tutor}}</td>
                <td>{{tutoringSession.subject}}</td>
                <td>{{tutoringSession.comments}}</td>
                <td><a href="edit_session/{{tutoringSession.id}}" class="btn btn-default pull-right">Edit</a></td>
                <td><a href="delete_session/{{tutoringSession.id}}" class="btn btn-danger pull-right">Delete</a></td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>
{% endblock %}